// Import Local Fonts
// Open Sans
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
    font-style: italic;
}

// Playfair Display
@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
}
@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf");
    font-weight: bold;
}



// Typograpgie Stylings
h1, h2 {
    font-family: "Playfair Display", serif;
    color: $navy;
    font-family: "Playfair Display", serif;
    font-size: 1.875rem;
    margin-top: 0;
    font-weight: bold;
}

h3, p, cite, a {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

h3 {
    font-weight: bold;
    color: $leather;
    font-size: 1.125rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

cite {
    font-style: italic;
}

p, cite {
    color: $grey;
}

a {
    color: $leather;
    text-decoration: underline;
    &:hover {
        color: $darken-leather;
    }
}